// main: styles.scss

@import "variables.scss";
@import "mixins.scss";

@mixin button-borders($color: #ccc) {
    @include borders($color);
    &:active {
        border-bottom: 1px solid $color;
    }
}

body {
  background-color: #ecece;
}

@mixin btn($color: $color-white) {
    @include disable-user-select;
    @include button-borders($color - #333);
    padding: 5px;
    border-radius: 2px;
    background-color: $color;
    transition: all 0.3s;
    &:hover {
        background-color: $color - #111;
    }

    &:active {
        background-color: $color - #222;
    }
    &:focus {
        outline: 0;
    }
}

.btn {
    @include btn($color-white);
}

.btn-cancel {
    @include btn($color-red);
    color: $color-white;
}

.btn-primary {
    @include btn($color-blue);
    color: $color-white - #111;
}
