// main: styles.scss

@import "forms.scss";
@import "variables.scss";

body {
    background: #b1d9f2 url("img/bg.jpg") fixed;
    background-repeat: no-repeat;
    background-attachment: fixed, fixed;
    background-position: left bottom, top left;
    background-size: 100%, 100%;
    font-family: "Arimo", sans-serif;
}
#wrapper {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#container {
    max-width: 1500px;
    margin: 5px auto;
}

@mixin forms-header {
    text-align: center;
    padding: 6px;
    background-color: $color-cold;
    border-bottom: 1px solid $color-content + #222;
    font-size: 16px;
    font-weight: lighter;
}

.right {
    float: right;
}

#wrapper {

}

.container {
    width: 100%;
}

#header-menu {
    background: $color-content;
    position: relative;
    clear: both;
    z-index: 101;
    @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.2));

    .container {
        max-width: 1500px;
        margin: auto;

        #logo {
            width: 330px;
            display: block;
            float: left;
            height: 53px;
            background: url("img/logo.svg") no-repeat;
            cursor: pointer;
        }

        #main-menu {
            margin-left: 15px;
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: normal;

            > li {
                display: inline-block;
                padding: 15px;
                height: 15px;
                > a {
                    font-size: 1.5em;
                    color: $color-white;
                    text-decoration: none;
                    transition: background 0.2s ease-in-out;

                    &:hover {
                        color: $color-white - #111;
                    }

                    &:after {
                        display: block;
                        content: "";
                        height: 0px;
                        width: 100%;
                        transition: height 0.2s ease-in-out;
                        background-color: $color-white;
                    }

                    &:hover:after {
                        height: 2px;
                    }
                }
            }

            #menu-login {

                display: block;
                > .dropdown {
                    > ul {
                        padding: 0;
                        list-style: none;
                        > li {
                            margin: 5px;
                            float: right;
                            > input {
                                padding: 5px;
                            }
                            ul {

                                padding: 0;
                                li {
                                    display: inline-block;

                                }
                            }
                        }
                        #controls-field {
                            font-size: 12px;
                        }
                        .login-header {
                            @include forms-header;
                            background-color: $color-header;
                        }

                    }
                    width: 300px;
                    min-height: 30px;
                    position: absolute;
                    top: 52px;
                    right: 0;
                    @include forms-borders($color-content);
                    @include background-for-forms($color-cold);
                    @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.2));

                    display: none;
                }
                .dropdown.active {
                    display: block;
                }
            }
        }
    }
}

.search-container {
    padding: 0px;
    border: 1px solid #222;
    @include border-radius(2px);

    > input {
        padding: 10px;
        background-color: $color-blue + #111;
        border: none;
        color: $color-white;
    }

    ul {
        display: inline-block;
        padding: 5px;


        > i {
            color: $color-white;
        }
    }
}

#header-userbar {
    background: #dde8ef;
    @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.2));
    .container {
        max-width: 1500px;
        #container-actions {
            border: 1px solid $color-gray;
            float: left;
            margin: 0;
            li {
                display: inline-block;
                padding: 4px;
            }
        }

        #navigation {
            float: right;
            margin: 0;
            li {
                display: inline-block;
                padding: 4px;
            }
        }
    }
}

p  {
    -webkit-margin-before: 1em;
}

#sidebar {
    float: left;
    .menu {
        width: 250px;
        border: 1px solid #fff;
        margin: 5px;
        @include forms-borders($color-content);
        @include background-for-forms($color-cold);

        .header {
            @include forms-header;
            background-color: $color-header;
        }

        a {
            text-decoration: none;
            color: #111;
            margin-left: 5px;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            position: relative;
            @include box-shadow(0px 5px 5px 0px rgba(0,0,0,0.1));

            li {
                transition: all 0.2s linear;
                position: relative;
                cursor: pointer;
                padding: 5px;

                &:hover {
                    background-color: $color-content;
                    > a {
                        color: #eee;
                    }

                    > ul {
                        visibility: visible;
                        opacity: 1;
                        left: 100%;
                    }
                }
            }

            ul {
                visibility: hidden;
                position: absolute;
                left: 85%;
                top: -1px;
                width: 200px;
                opacity: 0;
                transition: all .15s ease-out;
                @include background-for-forms($color-cold);
                @include forms-borders($color-content);
            }
        }
    }
}

#content {
    float: right;
    width: calc(100% - 260px);
    padding: 5px;
    .block {
        margin-bottom: 5px;
        @include background-for-forms($color-cold);

        @include forms-borders($color-content);
        &:hover {
            @include box-shadow(1px 3px 4px 0px rgba(0,0,0,0.12));
        }

        .header {
            @include forms-header;
            background-color: $color-header;
        }

        .content {
            margin-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;

            .tab-container {

                .tab-content {
                    border-radius: 2px;
                    padding: 0;
                    display: table;
                    width: 100%;

                    .control-group {
                        display: table-header-group;
                        > div {
                            display: table-row;
                            .controls-label {
                                background-color: $color-white;
                                display: table-cell;
                                min-width: 150px;
                                float: none;
                                padding: 10px 20px 5px 10px;
                                border-bottom: 1px solid $color-gray;
                                text-align: right;
                            }

                            .controls {
                                display: table-cell;
                                padding: 7px 7px 8px 7px;
                                border-left: 1px solid $color-gray;
                            }
                        }

                        &:last-child > div .controls-label {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        .actions-info {
            @include disable-user-select;
            margin: 0px;
            > li {
                display: inline-block;
                padding: 3px;
                 > a {
                     padding-right: 10px;
                     font-size: 13px;
                     color: $color-gray - 111;
                     cursor: pointer;
                 }
            }
            border-bottom: 1px solid $color-gray;
        }

        .actions-container {
            border-top: 1px solid $color-gray;
            padding: 5px;
        }
    }
}

.input-field {
    @include controls-mixin;
    width: 220px;
}

select {
    @include controls-selects;
}
