@import url(css/font-awesome.css);
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

body {
  background-color: #ecece; }

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 2px solid #aaaaaa;
  padding: 5px;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s; }
  .btn:active {
    border-bottom: 1px solid #cccccc; }
  .btn:hover {
    background-color: #eeeeee; }
  .btn:active {
    background-color: #dddddd; }
  .btn:focus {
    outline: 0; }

.btn-cancel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-top: 1px solid #a6201c;
  border-left: 1px solid #a6201c;
  border-right: 1px solid #a6201c;
  border-bottom: 2px solid #840000;
  padding: 5px;
  border-radius: 2px;
  background-color: #d9534f;
  transition: all 0.3s;
  color: #fff; }
  .btn-cancel:active {
    border-bottom: 1px solid #a6201c; }
  .btn-cancel:hover {
    background-color: #c8423e; }
  .btn-cancel:active {
    background-color: #b7312d; }
  .btn-cancel:focus {
    outline: 0; }

.btn-primary {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-top: 1px solid #004784;
  border-left: 1px solid #004784;
  border-right: 1px solid #004784;
  border-bottom: 2px solid #002562;
  padding: 5px;
  border-radius: 2px;
  background-color: #337ab7;
  transition: all 0.3s;
  color: #eeeeee; }
  .btn-primary:active {
    border-bottom: 1px solid #004784; }
  .btn-primary:hover {
    background-color: #2269a6; }
  .btn-primary:active {
    background-color: #115895; }
  .btn-primary:focus {
    outline: 0; }

body {
  background: #b1d9f2 url("img/bg.jpg") fixed;
  background-repeat: no-repeat;
  background-attachment: fixed, fixed;
  background-position: left bottom, top left;
  background-size: 100%, 100%;
  font-family: "Arimo", sans-serif; }

#wrapper {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

#container {
  max-width: 1500px;
  margin: 5px auto; }

.right {
  float: right; }

.container {
  width: 100%; }

#header-menu {
  background: #3f9ade;
  position: relative;
  clear: both;
  z-index: 101;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); }
  #header-menu .container {
    max-width: 1500px;
    margin: auto; }
    #header-menu .container #logo {
      width: 330px;
      display: block;
      float: left;
      height: 53px;
      background: url("img/logo.svg") no-repeat;
      cursor: pointer; }
    #header-menu .container #main-menu {
      margin-left: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: normal; }
      #header-menu .container #main-menu > li {
        display: inline-block;
        padding: 15px;
        height: 15px; }
        #header-menu .container #main-menu > li > a {
          font-size: 1.5em;
          color: #fff;
          text-decoration: none;
          transition: background 0.2s ease-in-out; }
          #header-menu .container #main-menu > li > a:hover {
            color: #eeeeee; }
          #header-menu .container #main-menu > li > a:after {
            display: block;
            content: "";
            height: 0px;
            width: 100%;
            transition: height 0.2s ease-in-out;
            background-color: #fff; }
          #header-menu .container #main-menu > li > a:hover:after {
            height: 2px; }
      #header-menu .container #main-menu #menu-login {
        display: block; }
        #header-menu .container #main-menu #menu-login > .dropdown {
          width: 300px;
          min-height: 30px;
          position: absolute;
          top: 52px;
          right: 0;
          border-top: 1px solid #3f9ade;
          border-left: 1px solid #3f9ade;
          border-right: 1px solid #3f9ade;
          border-bottom: 2px solid #1d78bc;
          border-radius: 3px;
          background-color: #f6f7ff;
          -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
          display: none; }
          #header-menu .container #main-menu #menu-login > .dropdown > ul {
            padding: 0;
            list-style: none; }
            #header-menu .container #main-menu #menu-login > .dropdown > ul > li {
              margin: 5px;
              float: right; }
              #header-menu .container #main-menu #menu-login > .dropdown > ul > li > input {
                padding: 5px; }
              #header-menu .container #main-menu #menu-login > .dropdown > ul > li ul {
                padding: 0; }
                #header-menu .container #main-menu #menu-login > .dropdown > ul > li ul li {
                  display: inline-block; }
            #header-menu .container #main-menu #menu-login > .dropdown > ul #controls-field {
              font-size: 12px; }
            #header-menu .container #main-menu #menu-login > .dropdown > ul .login-header {
              text-align: center;
              padding: 6px;
              background-color: #f6f7ff;
              border-bottom: 1px solid #61bcff;
              font-size: 16px;
              font-weight: lighter;
              background-color: #f3f2ff; }
        #header-menu .container #main-menu #menu-login .dropdown.active {
          display: block; }

.search-container {
  padding: 0px;
  border: 1px solid #222;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .search-container > input {
    padding: 10px;
    background-color: #448bc8;
    border: none;
    color: #fff; }
  .search-container ul {
    display: inline-block;
    padding: 5px; }
    .search-container ul > i {
      color: #fff; }

#header-userbar {
  background: #dde8ef;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); }
  #header-userbar .container {
    max-width: 1500px; }
    #header-userbar .container #container-actions {
      border: 1px solid #ddd;
      float: left;
      margin: 0; }
      #header-userbar .container #container-actions li {
        display: inline-block;
        padding: 4px; }
    #header-userbar .container #navigation {
      float: right;
      margin: 0; }
      #header-userbar .container #navigation li {
        display: inline-block;
        padding: 4px; }

p {
  -webkit-margin-before: 1em; }

#sidebar {
  float: left; }
  #sidebar .menu {
    width: 250px;
    border: 1px solid #fff;
    margin: 5px;
    border-top: 1px solid #3f9ade;
    border-left: 1px solid #3f9ade;
    border-right: 1px solid #3f9ade;
    border-bottom: 2px solid #1d78bc;
    border-radius: 3px;
    background-color: #f6f7ff; }
    #sidebar .menu .header {
      text-align: center;
      padding: 6px;
      background-color: #f6f7ff;
      border-bottom: 1px solid #61bcff;
      font-size: 16px;
      font-weight: lighter;
      background-color: #f3f2ff; }
    #sidebar .menu a {
      text-decoration: none;
      color: #111;
      margin-left: 5px; }
    #sidebar .menu ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      position: relative;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
      #sidebar .menu ul li {
        transition: all 0.2s linear;
        position: relative;
        cursor: pointer;
        padding: 5px; }
        #sidebar .menu ul li:hover {
          background-color: #3f9ade; }
          #sidebar .menu ul li:hover > a {
            color: #eee; }
          #sidebar .menu ul li:hover > ul {
            visibility: visible;
            opacity: 1;
            left: 100%; }
      #sidebar .menu ul ul {
        visibility: hidden;
        position: absolute;
        left: 85%;
        top: -1px;
        width: 200px;
        opacity: 0;
        transition: all .15s ease-out;
        background-color: #f6f7ff;
        border-top: 1px solid #3f9ade;
        border-left: 1px solid #3f9ade;
        border-right: 1px solid #3f9ade;
        border-bottom: 2px solid #1d78bc;
        border-radius: 3px; }

#content {
  float: right;
  width: calc(100% - 260px);
  padding: 5px; }
  #content .block {
    margin-bottom: 5px;
    background-color: #f6f7ff;
    border-top: 1px solid #3f9ade;
    border-left: 1px solid #3f9ade;
    border-right: 1px solid #3f9ade;
    border-bottom: 2px solid #1d78bc;
    border-radius: 3px; }
    #content .block:hover {
      -webkit-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.12); }
    #content .block .header {
      text-align: center;
      padding: 6px;
      background-color: #f6f7ff;
      border-bottom: 1px solid #61bcff;
      font-size: 16px;
      font-weight: lighter;
      background-color: #f3f2ff; }
    #content .block .content {
      margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px; }
      #content .block .content .tab-container .tab-content {
        border-radius: 2px;
        padding: 0;
        display: table;
        width: 100%; }
        #content .block .content .tab-container .tab-content .control-group {
          display: table-header-group; }
          #content .block .content .tab-container .tab-content .control-group > div {
            display: table-row; }
            #content .block .content .tab-container .tab-content .control-group > div .controls-label {
              background-color: #fff;
              display: table-cell;
              min-width: 150px;
              float: none;
              padding: 10px 20px 5px 10px;
              border-bottom: 1px solid #ddd;
              text-align: right; }
            #content .block .content .tab-container .tab-content .control-group > div .controls {
              display: table-cell;
              padding: 7px 7px 8px 7px;
              border-left: 1px solid #ddd; }
          #content .block .content .tab-container .tab-content .control-group:last-child > div .controls-label {
            border-bottom: none; }
    #content .block .actions-info {
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      margin: 0px;
      border-bottom: 1px solid #ddd; }
      #content .block .actions-info > li {
        display: inline-block;
        padding: 3px; }
        #content .block .actions-info > li > a {
          padding-right: 10px;
          font-size: 13px;
          color: #6e6e6e;
          cursor: pointer; }
    #content .block .actions-container {
      border-top: 1px solid #ddd;
      padding: 5px; }

.input-field {
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  padding: 4px 4px 4px 6px;
  transition: border, .2s linear;
  width: 220px; }
  .input-field:focus {
    outline: none;
    border: 1px solid #337ab7; }

select {
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  padding: 4px 4px 4px 6px;
  transition: border, .2s linear;
  width: 220px;
  background-color: #fff;
  padding: 5px; }
  select:focus {
    outline: none;
    border: 1px solid #337ab7; }
